.background{
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
@media (min-width: 1480px) {
    .background {
        background: repeating-linear-gradient(33.3333333333333333333deg,#66D9C7 -45em, #66D9C7 0em,rgba(0, 0, 0, 0) 0px,rgba(0, 0, 0, 0) 37em) !important; 
    } 
 }
 @media (max-width: 1479px) {
    .background {
        background: repeating-linear-gradient(33.3333333333333333333deg,#66D9C7 -32em, #66D9C7 0em,rgba(0, 0, 0, 0) 0em,rgba(0, 0, 0, 0) 35em) !important; 
    }
 }

.titulo-pasa {
    color: #004b8d;
    text-align: left;
    margin-left: 2.7em;
}

.loader{
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
}

.loaderHome {
    width: 30em !important;
    height: 30em !important;
    position: absolute !important;
    left: 35% !important;
    top: 20% !important;
}

.content {
    padding: 2em;
    margin: 1em;
}
.content>div{
    width: 50%;
}

.text-content {
    position: relative;
    color: black ;
    min-height: 12em !important;
}
.boton-juega{
    position:absolute;
    top : 80%;
}
.container {
    background: white;
    padding: 1em !important;
}
/* Login */
.register-icon {
    left:5% !important;
}
.button-register {
    width: 50%;
}

.row-container {
    margin-left: 2em !important;
    margin-right: 2em !important;
}

.rigth-content {
    min-height: 16em !important;
    max-height: 16em !important;
}

.left-content {
    min-height: 33em !important;
    max-height: 33em !important;
}

.botonRespuesta{
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.popUp{
    margin-right: 1em;
}

.blue-boton{
    background-color: #004b8d
}

.blue-boton:hover{
    background-color: #004b8d
}
.blue-boton:focus{
    background-color: #4fa8f6 !important
}
.blue-boton:active{
    background-color: #004b8d !important
}

.enviar-boton{
    background-color: #4CAF50
}

.enviar-boton:hover{
    background-color: #4CAF50
}
.enviar-boton:focus{
    background-color: #50e356 !important
}
.enviar-boton:active{
    background-color: #4CAF50 !important
}

.scroll-container{
    overflow: scroll;
    max-height: 10em;
    border: 1px solid #e0e0e0;
    margin-top: 1em;
}

.ranking-ul{
    margin-bottom: 0;
    margin-top: 0;
}


.registrarse-boton {
    position: absolute;
    top: 3em;
    left: 4em !important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #004b8d;
    -webkit-box-shadow: 0 1px 0 0 #004b8d;
    box-shadow: 0 1px 0 0 #004b8d;
}
.input-field .prefix.active {
    color:#004b8d;
}

.active{
    color:#004b8d !important;
}

/* Circle
 * ----------------------------------------------------------------------------- */
.circle-container {
    position: relative;
    padding-top: 2em;
    width: 100%; 
    margin-left: 14.666667% !important;
    margin-top: 1em !important;
}
  
.circle {
    position: relative;
    width: 21.375em;
    height: 21.375em;
    border-radius: 50%;
    padding: 0;
    list-style: none;
    left: 50%;
    transform: translateX(-50%); 
}
.circle > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25em;
    height: 1.25em;
    margin: -0.625em; 
}
.circle > *:nth-of-type(1) {
transform: rotate(270deg) translate(10.6875em) rotate(-270deg); }
.circle > *:nth-of-type(2) {
transform: rotate(284.4deg) translate(10.6875em) rotate(-284.4deg); }
.circle > *:nth-of-type(3) {
transform: rotate(298.8deg) translate(10.6875em) rotate(-298.8deg); }
.circle > *:nth-of-type(4) {
transform: rotate(313.2deg) translate(10.6875em) rotate(-313.2deg); }
.circle > *:nth-of-type(5) {
transform: rotate(327.6deg) translate(10.6875em) rotate(-327.6deg); }
.circle > *:nth-of-type(6) {
transform: rotate(342deg) translate(10.6875em) rotate(-342deg); }
.circle > *:nth-of-type(7) {
transform: rotate(356.4deg) translate(10.6875em) rotate(-356.4deg); }
.circle > *:nth-of-type(8) {
transform: rotate(370.8deg) translate(10.6875em) rotate(-370.8deg); }
.circle > *:nth-of-type(9) {
transform: rotate(385.2deg) translate(10.6875em) rotate(-385.2deg); }
.circle > *:nth-of-type(10) {
transform: rotate(399.6deg) translate(10.6875em) rotate(-399.6deg); }
.circle > *:nth-of-type(11) {
transform: rotate(414deg) translate(10.6875em) rotate(-414deg); }
.circle > *:nth-of-type(12) {
transform: rotate(428.4deg) translate(10.6875em) rotate(-428.4deg); }
.circle > *:nth-of-type(13) {
transform: rotate(442.8deg) translate(10.6875em) rotate(-442.8deg); }
.circle > *:nth-of-type(14) {
transform: rotate(457.2deg) translate(10.6875em) rotate(-457.2deg); }
.circle > *:nth-of-type(15) {
transform: rotate(471.6deg) translate(10.6875em) rotate(-471.6deg); }
.circle > *:nth-of-type(16) {
transform: rotate(486deg) translate(10.6875em) rotate(-486deg); }
.circle > *:nth-of-type(17) {
transform: rotate(500.4deg) translate(10.6875em) rotate(-500.4deg); }
.circle > *:nth-of-type(18) {
transform: rotate(514.8deg) translate(10.6875em) rotate(-514.8deg); }
.circle > *:nth-of-type(19) {
transform: rotate(529.2deg) translate(10.6875em) rotate(-529.2deg); }
.circle > *:nth-of-type(20) {
transform: rotate(543.6deg) translate(10.6875em) rotate(-543.6deg); }
.circle > *:nth-of-type(21) {
transform: rotate(558deg) translate(10.6875em) rotate(-558deg); }
.circle > *:nth-of-type(22) {
transform: rotate(572.4deg) translate(10.6875em) rotate(-572.4deg); }
.circle > *:nth-of-type(23) {
transform: rotate(586.8deg) translate(10.6875em) rotate(-586.8deg); }
.circle > *:nth-of-type(24) {
transform: rotate(601.2deg) translate(10.6875em) rotate(-601.2deg); }
.circle > *:nth-of-type(25) {
transform: rotate(615.6deg) translate(10.6875em) rotate(-615.6deg); }

.circle .item {
    display: block;
    width: 2.35em;
    height: 2.40em;
    transition: all .3s ease-in-out;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #004b8d;
    color: #fff;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    cursor: default; 
}

.seleccionada {
    background-color: #ffeb3b !important
}
.correcto {
    background-color: #4CAF50 !important;
}
.error {
    background-color: #F44336 !important;
}

.blueC {
    background-color: #004b8d !important; 
}


.contentButonUser {
    height: 4em !important;
    top: 48px !important;
    right: 41px !important;
}


.scoreboard {
    margin: 0 0 1em 2em;
    padding: 0;
    list-style: none;
}

.scoreboard .timer {
    display: block;
    width: 2.8125em;
    height: 2.8125em;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #004b8d;
    color: #fff;
    font-weight: 900;
    line-height: 2.8125em;
    text-align: center;
    text-decoration: none;
    cursor: default; 
}

.scoreboard .score {
    display: block;
    width: 2.8125em;
    height: 1.875em;
    margin-top: .5em;
    border: 2px solid #fff;
    background-color: #004b8d;
    color: #fff;
    font-weight: 900;
    line-height: 1.6875em;
    text-align: center;
    text-decoration: none;
    cursor: default; 
}

.title {
    position: absolute;
    color: #004b8d;
    font-size: 2em;
    left: 50%;
    top: 29%;
}

.footerIcons{
    position: relative;
}

.icon-twi{
    position:absolute;
    font-size: 3em;
    left: 9em;
    top: 0em;
}

.icon-li{
    position:absolute;
    font-size: 3em;
    left: 7.5em;
    top: 0em;
}

.icon-git{
    position:absolute;
    font-size: 3em;
    left: 6em;
    top: 0em;
}

.progress .indeterminate {
    background-color: #004b8d;
}

.register-modal{
    width: 40% !important;
}

.register-button {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
}

.no-paddin-margin{
    margin: 0 !important;
    padding: 0 !important;
}

.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 52px;
    width: 100%;
    text-align: right;
}

.icon-modal{
    position: absolute;
    color: black;
    top: 5%;
    left: 92%;
}

.content-fin {
    min-height: 3em;
    position: relative;
    margin-top: 3em;
    margin-bottom: 0;
}

.footer-row {
    flex: 1 0 auto;
    background-color: #44acff !important;
}
.icon-sky {
    width: 3em;
    position: absolute;
    right: 6em;
    top: 0em;
}
